scratch-gui/build
scratch-gui/node_modules
scratch-gui-OLD/build
scratch-gui-OLD/node_modules
gm2-download-server/node_modules
scratch-vm/dist
scratch-vm/node_modules
gm2-player/node_modules
gm2-player/static/assets/
gm2-packager/node_modules
gm2-helper/node_modules
gm2-helper/dist
scratch-svg-renderer/node_modules
scratch-storage/node_modules
scratch-render-fonts/node_modules
scratch-paint/node_modules
scratch-blocks/node_modules
scratch-audio/node_modules
**/node_modules
**/dist
**/build
**/github